<%= form_for(@park) do |f| %>
  <% if @park.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@park.errors.count, "error") %> prohibited this park from being saved:</h2>

      <ul>
      <% @park.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :hasToilet %><br>
    <%= f.check_box :hasToilet %>
  </div>
  <div class="field">
    <%= f.label :hasWater %><br>
    <%= f.check_box :hasWater %>
  </div>
  <div class="field">
    <%= f.label :hasNature %><br>
    <%= f.check_box :hasNature %>
  </div>
  <div class="field">
    <%= f.label :hasBench %><br>
    <%= f.check_box :hasBench %>
  </div>
  <div class="field">
    <%= f.label :hasParking %><br>
    <%= f.check_box :hasParking %>
  </div>
  <div class="field">
    <%= f.label :hasSports %><br>
    <%= f.check_box :hasSports %>
  </div>
  <div class="field">
    <%= f.label :hasPlayground %><br>
    <%= f.check_box :hasPlayground %>
  </div>

  <div class="field">
  <%= f.label :tags %>
    <%= f.text_field :tag_list %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
