<div id="demo-wrapper" class="nature-background">
	<div id="demo"  class="search_form">
		<%= form_tag("/search", method: "get") do %>
			<figure>
				<div class="icon_checkbox box">
					<% Park::FLAGS.each_key do |key| %>
						<%= check_box_tag "[flags][#{key}]", '1', false, class: 'checkbox' %>
						<%= label_tag "[flags][#{key}]", (image_tag icon_name(key, "white"), size: '35') %>
					<% end %>
				</div>
      		</figure>

    <br class="clear">

       <div id="searchform">
       	<%= text_field_tag(:tags, "", placeholder: "", id: "keywords") %>
         ×公園= <div id="resultNum"><%= Park.count %></div>
        </div>
				<%= submit_tag '見る', id:"look" %>
         <div id="buttons">
				<% ActsAsTaggableOn::Tag.all.pluck(:name).sample(10).each do |tag| %>
					<button class="tag">
						<%= tag %>
					</button>
				<% end %>
			</div>
    	<% end %>
	</div>
</div>
