<div id="searchResults">
  <h1>
    <%= @tags %>
    <% unless @flags.nil? %>
    <% @flags.each_key do |flag| %>
      <%= image_tag icon_name(flag, "gray"), size:"25" %>
    <% end %>
    <% end %>
  </h1>

  <div class="parkGrid">
    <% @parks.each do |park| %>
      <div class="parkItem">
          <div class="parkImage">
            <%= image_tag park.image, size: '268' %>
          </div>
          <div class="parkTitle">
            <h2><%= park.name %></h2>
          </div>
          <div class="parkAddress">
            <p><%= park.address %></p>
          </div>
          <div class="icon_guide">
            <% Park::FLAGS.each_key do |flag| %>
              <%= image_tag icon_name(flag, "brown"), size: "20", class: "#{'off' unless park.has_flag?(flag)}" %>
            <% end %>
          </div>
          <div class="parkDescription">
            <%= park.description %>
          </div>
      </div>
    <% end %>
  </div>
</div>